* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0 80px;
}

header,
nav ul,
.hero-section,
.hero-section .content-social,
.content-social ul {
  display: flex;
}

.header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

.header h1 {
  font-size: 35px;
  color: #7FE9DE;
}

.navbar {
  width: 450px;
  border: 1px solid #A5F1E9;
  border-radius: 20px;
}

nav ul {
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  list-style: none;
  padding: 10px 2px 10px 20px;
}

.navbar a {
  font-size: 15px;
  color: #333;
  text-decoration: none;
}

.navbar a:hover {
  color: #7FE9DE;
}

.navbar .contact-btn {
  font-size: 16px;
  padding: 8px 15px;
  margin-left: 10px;
  border: 1px solid #7FE9DE;
  border-radius: 20px;
  background-color: #A5F1E9;
}

.navbar .contact-btn:hover {
  background-color: #7FE9DE;
  border: 1px solid #A5F1E9;
  color: #000;
}

.main {
  width: 100%;
}

.hero-section {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hero-section .content {
  height: 500px;
}

.hero-section .say,
.hero-section .name,
.hero-section .professional,
.hero-section .base {
  text-align: center;
}

.hero-section .say {
  border: 1px dashed #A5F1E9;
  padding: 2px 10px;
  font-size: 20px;
}

.hero-section .name {
  font-size: 50px;
}

.hero-section .professional {
  font-size: 65px;
  border-bottom: 1px solid #A5F1E9;
  margin-bottom: 10px;
}

.hero-section .base {
  font-size: 17px;
  color: #aaa;
  margin-bottom: 15px;
}

.hero-section .describe {
  font-size: 15px;
  margin-bottom: 20px;
}

.hero-section .content-social {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-social .lets-talk a {
  display: inline-block;
  font-size: 22px;
  text-decoration: none;
  color: #333;
  border: 1px solid #7FE9DE;
  border-radius: 3px;
  padding: 10px 25px;
  margin-right: 25px;
  background-color: #A5F1E9;
}

.lets-talk a:hover {
  background-color: #7FE9DE;
}

.icons ul li {
  list-style: none;
  margin-right: 7px;
}

.icons ul li a {
  font-size: 20px;
  color: #333;
}

.icons ul li a:hover {
  color: #A5F1E9;
}

.about-section {
  width: 100%;
  border: 1px solid black;
}
