* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
  color: #eee;
}

main {
  display: block;
  width: 100%;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 100px;
  border-bottom: 1px solid rgb(43, 158, 43);
  box-shadow: 1px 1px 5px rgb(43, 158, 43);
  z-index: 999;
}

header h1 {
  font-size: 2.5rem;
  text-shadow: 3px 3px 5px rgb(43, 158, 43);
}

header .navbar {
  display: block;
}

.navbar ul li {
  display: inline;
  list-style: none;
}

.navbar ul li a {
  font-size: 1.3rem;
  color: #eee;
  text-decoration: none;
  margin-left: 50px;
  padding-bottom: 6px;
  cursor: pointer;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  border-bottom: 2px solid rgb(43, 158, 43);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ccc;
  outline: none;
}

/* Home section */
#home {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  padding-left: 150px;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0 0 0 / 90%);
}

#home .greeting-msg {
  display: block;
  width: 100%;
  z-index: 1;
}

.greeting-msg h2 {
  font-size: 1.5rem;
}

.greeting-msg h2 > span {
  font-size: 2.5rem;
  text-shadow: 3px 3px 5px rgb(43, 158, 43);
}

.greeting-msg h1 {
  font-size: 3.5rem;
  text-shadow: 3px 3px 5px rgb(43, 158, 43);
  padding-left: 20px;
}

.greeting-msg p {
  font-size: 1.2rem;
}

/* About section */
#about {
  display: block;
  width: 100%;
  background-color: #222;
}

#about .container-about {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

/* About left */
.container-about .left {
  display: inline-block;
  width: 30%;
}

.left img {
  max-width: 100%;
  display: block;
  overflow: hidden;
}

/* About right */
.container-about .right {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  padding-left: 10px;
}

/* Right about me */
.right .about-me {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.right .about-me h2 {
  font-size: 2.6rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 20px;
}

.about-me .about-msg {
  display: block;
  width: 100%;
  background-color: #eee;
  color: #222;
  padding: 10px;
  border: 2px solid rgb(43, 158, 43);
  border-radius: 5px;
}

.about-msg p {
  font-size: 1.1rem;
  letter-spacing: 0.7px;
}

/* Right skill */
.right .skill-me {
  display: block;
  width: 100%;
}

.skill-me h2 {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
}

.skill-me .container-skill {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  margin: 10px auto 0;
}

.container-skill .card-skill {
  display: block;
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: #eee;
  color: #222;
  border: 1px solid rgb(43, 158, 43);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(43, 158, 43);
  cursor: pointer;
}

.card-skill h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-skill p {
  font-size: 0.80rem;
}

.container-skill .card-skill:hover {
  background-color: #ddd;
  box-shadow: 3px 3px 8px rgb(43, 158, 43);
}

/* Project section */
#project {
  display: block;
  width: 100%;
  background-color: #222;
  padding-top: 100px;
}

#project h2 {
  font-size: 2.6rem;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

#project .container-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 50px;
}

.container-project .project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 400px;
  padding: 15px;
  background-color: rgb(0 0 0 / 25%);
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(43, 158, 43);
  cursor: pointer;
}

.project-card h3 {
  font-size: 1.8rem;
  text-align: center;
}

.container-project .project-card:hover {
  box-shadow: 0 0 7px rgb(43, 158, 43);
  background-color: rgb(0 0 0 / 40%);
}

/* Contact section */
#contact {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #111;
  padding: 100px 30px;
}

/* Contact section left */
#contact .left {
  width: 30%;
}

#contact .left img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}


/* Contact section right */
#contact .right {
  width: 25%;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(0 0 0 / 25%);
  box-shadow: 0 0 5px rgb(43, 158, 43);
}

.right h2 {
  font-size: 2.6rem;
  text-align: center;
  text-decoration: underline;
}

.right form {
  margin: 0 auto;
  display: block;
  width: 90%;
  padding-top: 30px;
}

form label,
form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

form label {
  font-size: 1.35rem;
}

form input[type="text"],
form input[type="email"],
form textarea {
  padding: 8px;
  font-size: 1rem;
  outline: none;
  border: none;
}

form textarea {
  height: 150px;
  resize: none;
}

form input[type="submit"] {
  cursor: pointer;
  height: 40px;
  background-color: rgb(43, 158, 43);
  color: #eee;
  font-size: 1.2rem;
  outline: none;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
}


form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  outline: 2px solid green;
  box-shadow: 0 0 10px rgb(43, 158, 43);
}

form input[type="submit"]:hover {
  background-color: rgb(43 158 43 / 85%);
}

/* Footer */
footer {
  width: 100%;
  background-color: #333;
  letter-spacing: 1.5px;
}

footer p {
  font-size: 0.95rem;
  padding: 10px 0;
  text-align: center;
}

footer p > a {
  font-size: 1.05rem;
  color: #eee;
  text-shadow: 1px 1px 5px rgb(43, 158, 43);
  text-decoration: none;
}

footer p > a:hover {
  color: rgb(43, 158, 43);
  text-shadow: 1px 1px 5px #eee;
  text-decoration: underline;
}
